nhn.storage.accessKey=f4bc4777775147eb896
nhn.storage.secretKey=deb47ee7402178af3
nhn.region=KR1
nhn.service.name=s3
nhn.storage.bucket.name=suslmk-storage
nhn.storage.endpoint.url=kr1-api-object-storage.nhncloudservice.com

database.url=root:ahsus123@tcp(localhost:3307)/?parseTime=true